$primary-color: #6bc30d;
$assist-color: #4ebbaa;
$color-title: #060606;
$color-text: #414240;
$color-describe: #717270;
$color-hint: #989898;
$color-placeholder: #b2b6b0;
$color-line: #d9ddd6;
$color-bg: #efefee;
$color-bg-lighten: #f7f8f7;
$img-bg: linear-gradient(180deg, #e1f4f1, #cff9a3);
$bg: linear-gradient(90deg, #4ebbaa, #6bc30d);
$bg-reverse: linear-gradient(270deg, #4ebbaa, #6bc30d);
$bg-important: linear-gradient(90deg, #f05f57, #b3315f);
$bg-border: linear-gradient(135deg, #fff, #fff),
linear-gradient(135deg, #4ebbaa, #6bc30d);
$font-nnumber: SourceCodeProRegular,
Menlo,
Monaco,
Consolas,
Courier New,
monospace;